---
title: Welcome to Middleman
---

<header class="bg-dark-pink sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked"><small>5 May, 2018</small></time>
      <h1 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          Site of a Thousand Blogs
        </span>
      </h1>
      <p class="f3 fw1 georgia i">OK, more like 3. Hopefully.</p>
      <p class="f6 ttu tracked black-80">
        Also, I'm messing around with Tachyons. Because why not?
      </p>
    </div>
  </header>

<div class="ph3">
  <h1 class="f6 fw6 ttu tracked">See the blogs</h1>
  <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-purple" href="/cat">hosted by Contentful</a>
  <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-blue" href="/beard">hosted by Prismic</a>
</div>

<p class="georgia"><%= link_to(
          "Read Middleman Documentation",
          "https://middlemanapp.com/basics/templating_language/",
          target: "_blank"
        ) %></p>


